/* .wrapper {
    width: 100%;
    background-color: #ddd;
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
} */

/* above css is common to other component, so it will be used in Shared CSS - cssLibrary component */

@import 'c/cssLibrary';
.html {
    width: 90%;
    background-color: #4caf50;
}